!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tesigner 2.0
    %link{:href => "stylesheets/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/wood.css", :rel => "stylesheet", :title => "main", :type => "text/css"}/
    %link{:href => "stylesheets/styles/pretty_photo.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/jquery-1.4.2.js", :type => "text/javascript"}
    %link{:href => "stylesheets/styles/nivo-slider.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/jquery.nivo.slider.js", :type => "text/javascript"}
    :javascript
      $(window).load(function(){
        setTimeout(function(){
          $('#slider').nivoSlider({
            manualAdvance:false,
            effect:'random',
            animSpeed:500,
            pauseTime:5000,
            pauseOnHover:false
          });
        }, 1000);
      });
    %script{:src => "javascripts/jquery.corner.js", :type => "text/javascript"}
    %script{:src => "javascripts/corner.js", :type => "text/javascript"}
    %script{:src => "javascripts/cufon-yui.js", :type => "text/javascript"}
    %script{:src => "javascripts/Advent_400.font.js", :type => "text/javascript"}
    /[if IE]
      <link rel="stylesheet" href="stylesheets/styles/ie.css" type="text/css" />
    /[if lt IE 7]
      <script src="javascripts/DD_belatedPNG.js" type="text/javascript"></script>
      <script type="text/javascript">
      DD_belatedPNG.fix('div, img, a, li');
      </script>
    %script{:src => "javascripts/script.js", :type => "text/javascript"}
  %body
    #page
      =yield
