.wrap-centered {
  border: 3px solid #d6d6d6;
  border-top: none;
  border-bottom: none;
  width: 986px;
  margin: 0 auto;
  margin-bottom:35px;
  min-height:3000px;
  background:#FFFFCC;
}

body{
  background: #000000 url(/images/bg_rd_blk.jpg) repeat left top;
  margin: 0;
	padding: 0;
	height: 0;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4D;
}

#header{
  margin-left:25%;
}

@font-face { 
  font-family: handwriting; 
  src: url(/fonts/Handwriting.eot);  /* IE */  
  src: local("Jelly"), url( /fonts/Jellyka_Estrya_Handwriting.ttf ) format("truetype"); /* non-IE */ 
}

@font-face { 
  font-family: abury; 
  src: url(/fonts/AUBREY.eot);  /* IE */ 
  src: local("Aburey"), url( /fonts/AUBREY1__.ttf ) format("truetype"); /* non-IE */  
}

#title{
	font-family: handwriting;
	font-style: italic;
	font-variant: normal;
	font-size: ;
	line-height: 100%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
	color:#FFFFFF;
	font-size:202px;
}

#sub-title{
  font-family: abury;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	font-size: ;
	line-height: 100%;
	word-spacing: normal;
	letter-spacing: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	text-indent: 0ex;
	color:#FFFFFF;
	font-size:27px;
}

