.wrap-centered {
  border: 3px solid #d6d6d6;
  border-top: none;
  border-bottom: none;
  width: 986px;
  margin: 0 auto;
  margin-bottom:35px;
  min-height:3000px;
  background:#FFFFCC;
}

.left{
  float:left;
}

.right{
  float:right;
}

.clear{
  clear:both;
}

body{
  background: #000000 url(/images/bg_rd_blk_m.jpg) repeat left top;
  margin: 0;
	padding: 0;
	height: 0;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4D4D4D;
}

#header{
  width: 720px;
  margin: auto;
  margin-bottom:35px;
}

#top{
  width:986px;
  min-height:250px;
  background:#0000FF;
  margin:auto;
  margin-bottom:25px;
}
#bottom{
  width:986px;
  min-height:1000px;
  background:#0000FF;
  margin:auto;
}

#bio{
  background:#FFFFFF;
  width:250px;
  min-height:100%;
}

#contact{
  background:#FFFFFF;
  width:250px;
  min-height:100%;
}
