#header
  %img{:src=>"/images/logo.png", :style=>"width:21%;margin-top:10px;float:left;margin-left:40px;"}
  #sometitle{:style=>"flat:left;"}
    #title= "Ruby  Alchemist"
    #sub-title= "The Science Of Change"
