#top
  #top-left.left.corners
    #bio
      =""
  #contact.right.corners
    #info
      ="E-mail: Chris.Kincanon@gmail.com"
      %br
      ="Phone: 925-588-9548"
      %br
      ="Twitter: @RubyAlchemist"
      %br
      ="Skype: Chris.Kincanon"
      %br
      =#
  .clear
#bottom
  #bottom-left.left.corners  
    #twitter
      -if @twitter.status
        %a{:href=>@twitter.link}=@twitter.title
        -@twitter.items.each do |tweet|
          .rss-item.corners
            =tweet.description
      -else
        ="Twitter Feed is Temporaroly Down"
  #bottom-right.right.corners
    #projects
  .clear

