#top
  #top-left.left.corners
    #bio
      ="This is the project page for Chris Kincanon.  I am a developer currently residing in the Seattle area.  My work focuses around Web Applications.  I will be updating information here as I build up the site."
  #contact.right.corners
    #info
      ="E-mail: Chris.Kincanon@gmail.com"
      %br
      ="Phone: (425)298-3411"
      %br
      ="Twitter: @RubyAlchemist"
      %br
      ="Skype: Chris.Kincanon"
      %br
      =#
  .clear
#bottom
  #bottom-left.left.corners  
    #twitter
      -if @twitter.status
        %a{:href=>@twitter.link}=@twitter.title
        -@twitter.items.each do |tweet|
          .rss-item.corners
            =tweet.description
      -else
        ="Twitter Feed is Temporaroly Down"
  #bottom-right.right.corners
    #projects
  .clear

