%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Ruby Alchemist ~ Chris Kincanon.
    = stylesheet_link_tag 'alchstyle'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery.corners.min','IEffembedfix.jQuery','application'
  %body
    .wrap
      =render :partial => "shared/toplists"
      =render :partial => "shared/header"
      #flash
        %p{ :style => "color: green" }= flash[:notice]
      = yield



